<!-- templates/admin/otp_verification.html -->
{% extends "admin/base_site.html" %}
{% block content %}
<center>
<div id="content" class="colM">
    <h1>OTP Verification</h1>
    <form method="post" action="{% url 'admin:otp_verification' %}">{% csrf_token %}
        <div class="form-row">
            <label for="id_otp">One-Time Password:</label>
            <input type="text" name="otp" >
             <!-- {{ form.otp }} -->
        </div>
        <div class="submit-row">
            <input type="submit" value="Verify OTP">
        </div>
        <!-- {% for msg in messages %}
        <p style="color: red;">{{ msg }}</p>
        {% endfor %} -->
    </form>
</div>
</center>
{% endblock %}